/* HEADER */

.header {
  display: flex;

  justify-content: space-between;

  align-items: flex-start;

  margin-bottom: 30px;
}

.header h1 {
  font-size: 28px;

  letter-spacing: -0.5px;
}

.header p {
  color: #697386;

  margin-top: 7px;

  font-size: 13px;
}

.header-right {
  display: flex;

  align-items: center;

  gap: 20px;
}

.live-status {
  display: flex;

  align-items: center;

  gap: 9px;

  color: #4ade80;

  font-size: 12px;

  font-weight: 600;
}

.updated {
  color: #697386;

  font-size: 11px;
}